@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-lato);
  --font-serif: var(--font-cormorant);
  --font-mono: var(--font-cutive-mono);
  --color-primary: #A8606E;
  --color-accent: #7D8FA1;
  --color-parchment: #FAF8F6;
  --color-espresso: #28202A;
  --color-taupe: #7A727A;
  --color-bisque: #E4D5D5;
  --color-surface: #FDFCFB;
}

body {
  background-color: #FAF8F6;
  color: #28202A;
}
